<div class="header">
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <app-todo-list-button></app-todo-list-button>
        </mat-menu>
        <mat-icon>supervisor_account</mat-icon>
        <span>Grid</span>
        <span class="example-spacer"></span>
        <button mat-raised-button style="margin-right: 10px" (click)="openUserTypeDialog()">Add Role</button>
        <button mat-raised-button color="warn" (click)="openUserDialog()">Add User</button>
    </mat-toolbar>
</div>

<div class="container">
    <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ivan IV" #input>
    </mat-form-field>
  
    <div class="container">
    <div style ="margin-top: 10px">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="login">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
                <td mat-cell *matCellDef="let row"> {{row.login}} </td>
            </ng-container>

            <ng-container matColumnDef="password">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                <td mat-cell *matCellDef="let row"> {{row.password}} </td>
            </ng-container>

            <ng-container matColumnDef="lastVisitDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Visit Date </th>
                <td mat-cell *matCellDef="let row"> {{row.lastVisitDate | date: "MMM d, y"}} </td>
            </ng-container>

            <ng-container matColumnDef="userTypeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> User Type Name </th>
                <td mat-cell *matCellDef="let row"> {{row.userTypeName}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="editUser(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteUser(row.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

    </div>
</div>