/bin/
*/bin/
/obj/
*/obj/
/.vs/
*/.vs/
/packages/
_/node_modules/*
_/cache/*
AngularExampleApp/Views/.angular/*
AngularExampleApp/Views/node_modules*
/shadowGit/
/AngularExampleApp/Views/src/app/app.component.js
/AngularExampleApp/Views/src/app/app.component.js.map
/AngularExampleApp/Views/src/app/app.module.js
/AngularExampleApp/Views/src/app/app.module.js.map
/AngularExampleApp/Views/src/app/data.service.js
/AngularExampleApp/Views/src/app/data.service.js.map
/AngularExampleApp/Views/src/app/user/user.js
/AngularExampleApp/Views/src/app/user/user.js.map
/AngularExampleApp/Views/src/main.js
/AngularExampleApp/Views/src/main.js.map
/AngularExampleApp/Views/src/polyfills.js
/AngularExampleApp/Views/src/polyfills.js.map
/AngularExampleApp/Views/package-lock.json
